/* VisitorForm.css */
.PopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PopupOverlay h2{
    font-size: 35px;
  }

  .PopupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .PopupContent h2 {
    margin-bottom: 5px;
  }
  
  .PopupContent form {
    display: flex;
    flex-direction: column;
  }
  
  .PopupContent label {
    margin-bottom: 10px;
    font-size: 25px;
    
  }
  
  .PopupContent input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 97%;
  }
  
  .PopupContent button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .PopupContent button:hover {
    background-color: #0056b3;
  }
  